body{
    background: black;
}

/* hero page smartwatch */
.smart-watch-hero-page{
    width: 100%;
}
.smart-watch-hero-page img{
    width: 100%;
}
/* smart watch moto */
.smart-watch-moto{
    width: 100%;
    background:#212529;
}
.smart-watch-moto div{
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
}
.smart-watch-moto div h1{
    font-size: 32px;
    color: #aaa;
    font-weight: 600;
    text-align: center;
}



/* smart watch guide */
.smart-watch-guide{
    width: 100%;
    background-color: black;
}
.smart-watch-guide .smart-watch-guide-info{
    max-width: 1380px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
.smart-watch-guide-info .smart-watch-guide-info-heading{
    width: 100%;
    color: #ed1c24;
    background-color: white;
    padding: 30px 0 0 20px ;
}
.smart-watch-guide-info .smart-watch-guide-info-heading h2{
    font-weight: 700;
    margin: 0;
}

.smart-watch-guide-info .smart-watch-guide-info-col-1{
    width: 50%;
    background-color: white;
    padding: 0;

}
.smart-watch-guide-info-col-1 h4{
    font-weight: 700;
    font-size: 28px;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.smart-watch-guide-info-col-1 p{
    font-weight: 500;
    padding: 0 20px;

}
.smart-watch-guide-info .smart-watch-guide-info-col-2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.smart-watch-guide-info .smart-watch-guide-info-col-2 div{
    width: 80%;

}

.smart-watch-guide-info .smart-watch-guide-info-col-2 div img{
    width: 100%;

}
@media screen and (max-width:1000px){
    .smart-watch-guide-info .smart-watch-guide-info-col-1{
        width: 100% !important;
    }
    .smart-watch-guide-info .smart-watch-guide-info-col-2{
        width: 100% !important;
    }
    .smart-watch-guide-info .smart-watch-guide-info-col-2 div{
        width: 70%;
    }
}

/* smartwatch nav-bar */
.smartwatch-links{
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.smartwatch-links a{
    padding: 5px 15px;
    border: 1px solid #ed1c24;
    color:white;
    font-weight: 400;
    margin: 10px 10px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}
.smartwatch-links a:hover{
    text-decoration: none;
    color: white;
}



/* sporty side of smart watch */
.sporty-smartwatch{
    width: 100%;
    background: black;
}
.sporty-smartwatch-holder{
    max-width:1380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    margin: auto;
    position: relative;
    flex-wrap: wrap-reverse;


}
.sporty-smartwatch-card{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.sporty-smartwatch-card div p{
    font-weight: 500;
}
.sporty-smartwatch-card div p span{ 
    font-weight: 300;
}
.sporty-smartwatch-card-bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: #ed1c24;
    z-index: 1;
}
.sporty-smartwatch-card img{
    width: 70%;
    z-index: 2;

}
@media screen and (max-width:1100px){
    .sporty-smartwatch-card{
        width: 60%;
    }
}
@media screen and (max-width:770px){
    .sporty-smartwatch-card{
        width: 85%;
    }
}

/* buying a smartwatch */
.buying-a-smartwatch{
    width: 100%;
    background: black;
}
.buying-a-smartwatch-holder{
    max-width: 1380px;
    margin: auto;
    position: relative;
}
.buying-a-smartwatch-holder img{
    width: 100%;
    max-width: 1380px;
    margin: auto;
}
.buying-a-smartwatch-holder .buying-a-smartwatch-heading{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.buying-a-smartwatch-heading p{
    text-align: center;
    font-size: 28px;
    color:#ed1c24;
    font-weight: 600;
    margin: 0;
    margin-top: 40px;
}

.buying-a-smartwatch-heading h2{
    text-align: center;
    font-size: 28px;
    font-weight: 600;

}
@media screen and (max-width:600px){
    .buying-a-smartwatch-heading p{
        font-size: 20px;
        margin-top: 20px;
    }
    .buying-a-smartwatch-heading h2{
        font-size: 20px;
    }
}

.points-to-remember{
    max-width: 1380px;
    margin: auto;
    background: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.points-to-remember-card{
    width: 45%;
    background: white;
    padding: 20px;
    margin: 20px 0; 
}
.points-to-remember-card h4{
    color: #ed1c24;
    font-weight: 600;
}
.points-to-remember-card p{
    font-weight: 500;
}
.points-to-remember-card p span{
    font-weight: 600;
}
@media screen and (max-width:1100px){
    .points-to-remember-card{
        width: 60%;
    }
}
@media screen and (max-width:770px){
    .points-to-remember-card{
        width: 85%;
    }
}


